<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_tasks.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>

  <%= f.label :content, 'メッセージ' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

<!--microposts
Login要求→
login画面→
一覧show --


Tasklist
Signup要求→Login要求→一覧
Login要求→一覧>

